<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @users.each do |user| %>
	<tr>
       <td><%= user.name %></td>
       <td><%= user.email %></td>
       <td><%= user.tallies.count %></td>
    </tr>
<% end %>

      <ol class="tallies">
        <%= render @tallies %>
      </ol>



<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>


  <div class="span8">
      <%= link_to 'Turf', turf_path %>
  </div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
