<h1>Listing tallies</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tallies.each do |tally| %>
      <tr>
        <td><%= tally.amount %></td>
        <td><%= tally.user_id %></td>
        <td><%= link_to 'Show', tally %></td>
        <td><%= link_to 'Edit', edit_tally_path(tally) %></td>
        <td><%= link_to 'Destroy', tally, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tally', new_tally_path %>
